* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Gabarito", sans-serif;
}
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid grey 1px;
  position:sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
}
.nav__sec__title1 {
  color: #b939d1;
  align-items: center;
}
.nav__sec__search {
  padding: 10px;
  border: solid black 1px;
  border-radius: 20px;
  width: 60%;
  gap: 5px;
  align-items: center;

}
.nav__sec__search1 {
  border: none;
  font-size: 16px;
  background-color: transparent;

}
.nav__sec__search1:focus {
  outline: none;
}
.nav__sec__icon {
  display: flex;
  gap: 30px;
  align-items: center;
}
.mylearning{
  position: relative;
  cursor: pointer;
}
.mylearning__1{
  position: absolute;
  right: 0px;
  top: 30px;
  background-color: white;
  border: solid black 2px;
  border-radius: 20px;
  width: 150px;
  display: none;
  padding: 15px;
  /* padding-right: 15px; */
  text-align: center;

}
.mylearning:hover .mylearning__1{
  display: block;
}
.categories {
  display: flex;
  justify-content: space-around;
  border-bottom: solid grey 1px;
}
.categories p {
  background-color: #b939d1;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
}
.sale__img{
   position: relative;
}
.sale__img img {
  width: 100%;
}
.notice{
  background-color: white;
  width: fit-content;
  height: 15%;
  border: solid black 2px;
  padding: 40px;
  position: absolute;
  left: 100px;
  top: 100px;
}
.notice h1{
  padding-left: 10px;
}
.notice p{
  padding-top: 5px;
}
.recommend {
  margin: 10px;
  padding: 10px;
}
.recommend p {
  padding-top: 5px;
}
.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.card {
  width: 300px;
}
.card img {
  height: 50%;
  width: 100%;
}
.Topics {
  width: 100%;
}
.topics__u {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
}
.topics__u p {
  border: solid grey 2px;
  text-align: center;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 25%;
}
.popular__container {
  padding: 20px;
}
.popular__container p {
  margin-top: 10px;
}
.popular {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  flex-wrap: wrap;
}
.footer__main{
  background-color: black;
  color: white;
  /* margin: 10px; */
  
}
.footer__container {
  display: flex;
  padding: 10px;
}
.footer__container p{
  padding: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
